@schibsted:registry = https://artifacts.schibsted.io/artifactory/api/npm/npm-virtual/
@spt-tracking:registry = https://artifacts.schibsted.io/artifactory/api/npm/npm-virtual/
@smp-distribution:registry = https://artifacts.schibsted.io/artifactory/api/npm/npm-virtual/
//artifacts.schibsted.io/artifactory/api/npm/npm-virtual/:always-auth = true
//artifacts.schibsted.io/artifactory/api/npm/npm-virtual/:email = ${ARTIFACTORY_USER}
//artifacts.schibsted.io/artifactory/api/npm/npm-virtual/:_auth = ${ARTIFACTORY_NPM_SECRET}
